body {
  background-color: #f1f1f4;
  margin: 0;
}

.patterns {
  height: 30vh;
}

svg text {
  display: flex;
  flex-wrap: wrap;
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #f2fffcb5;
  font-size: 55px;
  font-weight: 700;
  stroke-width: 3;

  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(0, 1%, 37%);
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
    fill: hsl(270, 3%, 72%);
  }
}

@media (max-width: 768px) {
  svg text {
    font-size: 20px;
  }
}
